<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Terminos y condiciones de uso</h2>
                    <p>Comentarios exclusiamente ofensivos seran eliminados</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">                   
                    <h2>Otras paginas nuestras</h2>
                    <p>http:nosoyunapaginadistinta</p>
                    <p>http:yotampoco</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Politica de cookies</h2>
                    <p>No encontrara cookies en esta pagina</p>
                </article>
            </div>
        </div>
    </div>
</footer>
