<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Informacion de contacto</h2>
                    <p>Dirección: Calle del Motor 123, Ciudad Automotriz</p>
                    <p> Teléfono: +1 (123) 456-7890 </p>
                    <p> Correo Electrónico: contacto@motormarket.com</p>
                    <p> Horario de Atención: Lunes a Viernes, de 9:00 a 18:00</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">                   
                    <h2>Enlaces Utiles</h2>
                    <p>Sobre Nosotros - Conoce la historia de Motor Market y nuestro compromiso con la calidad.</p>
                        <p> Términos y Condiciones - Información sobre nuestras políticas y términos de servicio.</p>
                        <p> Política de Privacidad - Cómo manejamos tus datos personales y tu privacidad.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Conéctate con Nosotros</h2>
                    <p>Facebook: @MotorMarketAR</p>
                    <p>Twitter: @MotMar_ARG</p>
                    <p>Instagram: @Motor_MarketArgentina</p>
                </article>
            </div>
        </div>
    </div>
</footer>
