<header class="main-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="index.html" class="main-header_home-link">
                    <img src="./images/logo-mercado-liebre.svg">
                </a>
            </div>

            <div class="col-7 col-md-6">
                <form action="search-results.html" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y m치s" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="col-12 col-md-4">
                <a class="main-header_credit-link">
                    <i class="fas fa-hand-holding-usd"></i>
                    Todas las opiniones en un solo lugar.
                </a>
            </div>
        </div>

        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="index.html">Todos los productos</a></li>
                <!-- solo logueado <li><a href="">Cargar productos</a></li> -->
            </ul>

            <ul class="right-navbar">
                <h2>Registracion:</h2>
                <form action="headerLogueado.ejs" method="get">
                    <label>Email:</label><input type="email" name="mail" value="">
                    <label>Usuario:</label><input type="text" name="user" value="">
                    <label>Contrasenia:</label><input type="password" name="contrasenia" value="">
                    <label>Fecha de nacimiento:</label><input type="date" name="fda" value="">
                    <label>Nro de documento:</label><input type="number" name="documento" value="">
                    <label>Foto de perfil:</label><input type="text" name="foto" value="">
                </form>
                <h2>Login:</h2>
                <form action="headerLogueado.ejs" method="get">
                    <label>Usuario:</label><input type="email" name="user" value="">
                    <label>Contrasenia:</label><input type="password" name="contrasenia" value="">
                    <input type="checkbox" name="recordame" value="si">
                </form>
                <h2>Editar mi perfil:</h2>
                <form action="headerLogueado.ejs">
                    <label>Email:</label><input type="email" name="mail" value="">
                    <label>Usuario:</label><input type="text" name="user" value="">
                    <label>Contrasenia:</label><input type="password" name="contrasenia" value="">
                    <label>Fecha de nacimiento:</label><input type="date" name="fda" value="">
                    <label>Nro de documento:</label><input type="number" name="documento" value="">
                    <label>Foto de perfil:</label><input type="text" name="foto" value="">
                </form>
                <h2>Agregar producto:</h2>
                <form action="headerLogueado.ejs" method="get">
                    <label>Imagen:</label><input type="file" name="imagen" value="">
                    <label>Nombre del producto:</label><input type="text" name="ndp" value="">
                    <label>Descripcion:</label><input type="text" name="descripcion" value="">
                </form>
                <!-- Solo logueado <li><a href="profile.html">
                    Nombre del usuario <i class="fas fa-user"></i>
                    </a>
                </li>
                <li>
                    <form action="" method="post">
                        <button class="logout" type="submit">
                            Cerrar sesi칩n <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </form>
                </li> -->
                <li>
                    <a href="register.html">Cre치 tu cuenta <i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a href="login.html">Ingres치 <i class="fas fa-sign-in-alt"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>